version: "3.9"

services:

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - infra-net

  redis:
    image: redis:alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - infra-net

  sample-app:
    build: ./sample-app
    container_name: sample-app
    ports:
      - "6000:6000"
    networks:
      - infra-net

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8082:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - sample-app
    networks:
      - infra-net

volumes:
  jenkins_home:
  redis_data:

networks:
  infra-net:
    driver: bridge
